@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
}
html a, body a {
  color: #000;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 13px 50px;
}
.header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header .header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.header .header__login a {
  padding: 0 50px 0 0;
}

.cta {
  width: 100%;
  height: 810px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("/img/cta.jpg") no-repeat;
  background-size: cover;
}
.cta .cta__title {
  color: #fff;
  font-size: 66px;
  text-align: center;
  margin: 0 0 23px 0;
}
.cta .cta__subtitle {
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin: 0 0 45px 0;
}
.cta .cta__btn {
  background: #FFFFFF;
  border-radius: 999px;
  color: #000;
  font-weight: 700;
  padding: 2px 105px;
}

.about {
  padding: 68px 0 85px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .about__title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 0 0 14px 0;
}
.about .about__desc {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  width: 622px;
}

.goods {
  padding: 80px 65px;
  background: #E5E9FF;
}
.goods .goods__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}
.goods .goods__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr 32px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
}
.goods .goods__grid .goods__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.goods .goods__grid .goods__item .goods__img {
  position: relative;
  margin: 0 0 20px 0;
}
.goods .goods__grid .goods__item .goods__img img {
  border-radius: 8px;
  width: 100%;
}
.goods .goods__grid .goods__item .goods__img .goods__img-seal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 60px;
  height: 60px;
}
.goods .goods__grid .goods__item .goods__img .goods__available {
  position: absolute;
  bottom: 14px;
  right: 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  text-align: center;
}
.goods .goods__grid .goods__item .goods__name {
  font-size: 21px;
  margin: 0 0 10px 0;
}
.goods .goods__grid .goods__item .goods__desc {
  margin: 0 0 96px 0;
}
.goods .goods__grid .goods__item .goods__btn {
  padding: 8px 58px;
  border-radius: 999px;
  text-transform: uppercase;
  background: #FFA5FF;
  color: #000;
}

.razor {
  padding: 20px;
  background: #E5E9FF;
}
.razor .razor__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.razor .razor__row .razor__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.razor .razor__row .razor__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.razor .razor__row .razor__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.razor .razor__row .razor__text .razor__seal {
  margin: 0 0 44px 0;
}
.razor .razor__row .razor__text .razor__title {
  font-size: 43px;
  margin: 0 0 42px 0;
}
.razor .razor__row .razor__text .razor__desc {
  font-size: 17px;
  width: 380px;
  margin: 0 0 50px 0;
}
.razor .razor__row .razor__text .razor__desc p:first-child {
  margin: 0 0 23px 0;
}
.razor .razor__row .razor__text .razor__btn {
  display: inline-block;
  padding: 2px 93px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  background: #90AAFF;
  border-radius: 999px;
}

.separator {
  padding: 10px 0;
  background: #90AAFF;
}
.separator .separator__title {
  text-align: center;
}

.pomade {
  padding: 20px;
  background: #E5E9FF;
}
.pomade .pomade__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pomade .pomade__row .pomade__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.pomade .pomade__row .pomade__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.pomade .pomade__row .pomade__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.pomade .pomade__row .pomade__text .pomade__title {
  font-size: 43px;
  margin: 0 0 42px 0;
}
.pomade .pomade__row .pomade__text .pomade__desc {
  font-size: 17px;
  width: 380px;
  margin: 0 0 50px 0;
}
.pomade .pomade__row .pomade__text .pomade__desc p:first-child {
  margin: 0 0 23px 0;
}
.pomade .pomade__row .pomade__text .pomade__btn {
  display: inline-block;
  padding: 2px 93px;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  background: #FFA5FF;
  border-radius: 999px;
}

.footer {
  padding: 20px 0;
  background: #F4F5FE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}